{% extends "base.html" %}
{% block title %}Library Loan System - Retrieve Applicants{% endblock %}

{% block content %}
<h1 class="display-4">Retrieve Applicants</h1>
<div>
  {% if count == 0 %}
  <p>There are no applicants.</p>
  {% elif count == 1 %}
  <p>There is 1 applicant.</p>
  {% else %}
  <p>There are {{ count }} applicants.</p>
  {% endif %}
</div>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date Applied</th>
        <th>No.</th>
        <th>Name</th>
        <th>NRIC</th>
        <th>Email</th>
        <th>Age</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Nationality</th>
        <th>Language</th>
        <th>Phone Number</th>
        <th>Qualification</th>
        <th>Experience</th>
        <th>Past Employment</th>
      </tr>
    </thead>
    <tbody>
    {% for applicants in applicants_list %}
      <tr>
        <td>{{ applicants.get_date()}}
        <td>{{ applicants.get_applicantid() }}</td>
        <td>{{ applicants.get_name() }}</td>
        <td>{{ applicants.get_user_nric() }}</td>
        <td>{{ applicants.get_email() }}</td>
        <td>{{ applicants.get_age() }}</td>
        <td>{{ applicants.get_address() }}</td>
        <td>{{ applicants.get_gender() }}</td>
        <td>{{ applicants.get_nationality() }}</td>
        <td>{{ applicants.get_language() }}</td>
        <td>{{ applicants.get_phone_number() }}</td>
        <td>{{ applicants.get_qualification() }}</td>
        <td>{{ applicants.get_experience() }}</td>
        <td>
            Company: {{applicants.get_company1()}} | Position: {{applicants.get_position1()}}
            {% if applicants.get_company2() != "" and applicants.get_position2 != "" %}
            <br>
            Company: {{applicants.get_company2()}} | Position: {{applicants.get_position2()}}
            {%else%}

            {% endif %}
        </td>
        <td><a href="/updateApplicants/{{applicants.get_applicantid()}}" class="btn btn-warning">Update</a></td>
        <td>
        <form action="{{url_for('delete_applicant', id=applicants.get_applicantid())}}" method="POST">
          <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{applicants.get_first_name(),applicants.get_last_name()}} ?');">
          </form>
        </td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}
