{% extends "base.html" %}
{% block title %}Library Loan System - Retrieve Applicants{% endblock %}

{% block content %}
{% if 'applicant_created' in session %}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ session.pop('applicant_created', None) }} was created.
</div>
{% elif 'applicant_updated' in session %}
<div class="alert alert-warning alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ session.pop('applicant_updated', None) }} was updated.
</div>
{% elif 'applicant_deleted' in session %}
<div class="alert alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ session.pop('applicant_deleted', None) }} was deleted.
</div>
{% endif %}

<h1 class="display-4">Retrieve Applicants</h1>
<div>
  {% if count == 0 %}
  <p>There are no applicants.</p>
  {% elif count == 1 %}
  <p>There is 1 applicant.</p>
  {% else %}
  <p>There are {{ count }} applicants.</p>
  {% endif %}
</div>


<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date Applied</th>
        <th>No.</th>
        <th>Name</th>
        <th>NRIC</th>
        <th>Email</th>
        <th>Age</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Nationality</th>
        <th>Language</th>
        <th>Phone Number</th>
        <th>Qualification</th>
        <th>Experience</th>
        <th>Past Employment</th>
      </tr>
    </thead>
    <tbody>
    {% for applicants in applicants_list %}
      <tr>
        <td>{{ applicants.get_date()}}
        <td>{{ applicants.get_applicantid() }}</td>
        <td>{{ applicants.get_name() }}</td>
        <td>{{ applicants.get_user_nric() }}</td>
        <td>{{ applicants.get_email() }}</td>
        <td>{{ applicants.get_age() }}</td>
        <td>{{ applicants.get_address() }}</td>
        <td>{{ applicants.get_gender() }}</td>
        <td>{{ applicants.get_nationality() }}</td>
        <td>{{ applicants.get_language() }}</td>
        <td>{{ applicants.get_phone_number() }}</td>
        <td>{{ applicants.get_qualification() }}</td>
        <td>{{ applicants.get_experience() }}</td>
        <td>
            Company: {{applicants.get_company1()}} | Position: {{applicants.get_position1()}}
            {% if applicants.get_company2() != "" and applicants.get_position2 != "" %}
            <br>
            Company: {{applicants.get_company2()}} | Position: {{applicants.get_position2()}}
            {%else%}

            {% endif %}
        </td>
        <td><a href="/updateApplicants/{{applicants.get_applicantid()}}" class="btn btn-warning">Update</a></td>
        <td>
        <form action="{{url_for('delete_applicant', id=applicants.get_applicantid())}}" method="POST">
          <!--            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {#user.get_first_name()#} {#user.get_last_name()#}?');">-->
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal_{{applicants.get_applicantid()}}">
              Delete
            </button>

            <!-- The Modal -->
            <div class="modal" id="myModal_{{applicants.get_applicantid()}}">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    Are you sure you want to delete {{applicants.get_first_name()}} {{applicants.get_last_name()}}?
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-danger">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  </div>

                </div>
              </div>
            </div>
          </form>
        </td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}
